body 
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #E8E8E8;
  font-family: "Inter", "Segoe UI", Roboto, sans-serif;
}

.login_window 
{
  width: 700px;
  height: 700px;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.login_image
{
  width: 400px;
  height: 400px;
  margin-bottom: -80px;
  margin-top: -40px;
}

input
{
  text-align: center;
}

input::placeholder
{
  text-align: center;
}

.forgotpassword
{
  text-align: right;
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
}

.logintext
{
  text-align: center;
  font-family: "Inter", "Segoe UI", Roboto, sans-serif;
  margin-bottom: 25px;
}

.textfield1, .textfield2
{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: "Inter", "Segoe UI", Roboto, sans-serif;
}

.textfield1
{
  margin-bottom: 25px;
}

.textfield2
{
  margin-bottom: 10px;
}

.textfield3
{
  width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;

}

.submitbutton
{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  background-color: #CBC3E3;
  background-color: #9A8BC7;
}

.submitbutton:hover
{
  background-color: #CBC3E3;
}

.errormessage
{
  color: red;
  text-align: center;
}

.successmessage
{
  color: green;
  text-align: center;
}

.noaccount
{
  margin-bottom: 13%;
}

.returnbtn
{
  margin-bottom: 7%;
}
